html{
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

div[class="menu"] img, div[class="menu"] a{
  /* z-index: 2; */
  height: auto;
  /* position: fixed; */
  border-radius:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.75);
}

#profilePicture{
  max-width: 10vw;
  bottom: 0;
  right:0;
  z-index: 2;
  position: fixed;
}

#education{
  max-width: 5vw;
  bottom: 8vw;
  right:0;
  z-index: 2;
  position: fixed;
}
#hobbies{
  max-width: 5vw;
  bottom: 7vw;
  right:7.5vw;
  z-index: 2;
  position: fixed;
}

#biodata{
  max-width: 5vw;
  bottom: 1vw;
  right:12vw;
  z-index: 2;
  position: fixed;
}

#banner{
  background-color: pink;
  background-image: url("assets/sakura.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vw;
  font-size: 10px;
  text-transform: uppercase;
  /* display: none; */
  /* color: hsl(0, 0%, 90%); */
}

#banner h1{
  font-size: 3.5em;
  position: absolute;
  padding-top: 2em;
  left: 15vw;
  margin: 0;
  max-width: 8vw;
  height: 20vw;
  background-color: pink;
}

#banner h4, #banner h5{
  font-size:1em;
  transform: rotate(-90deg);
  width:20.5em;
  position: absolute;
}

#banner h4{
  top:10.5em;
  left:-3.5em;
}

#banner h5{
  top:3em;
  left: -1.5em;
}

@media (max-width: 70em){
  #banner h1{
    opacity: 0.5;
    background-color: white;
    max-width: 85vw;
    height: 6vw;
    font-size: 5vw;
    left: 10vw;
    right: 10vw;
    top: 2vw;
    bottom: 40vw;
    padding : 4px;
    text-align: center;
    font-weight: bold;
  }

  #banner h4, #banner h5{
    font-size:1.5em;
    transform: rotate(0deg);
    width:20.5em;
    position: absolute;
  }

  #banner h4{
    top:7vw;
    left:32vw;
    right:32vw
  }
  
  #banner h5{
    top:8vw;
    left: 45vw;
    right: 45vw;
  }

}

@media (max-width: 35em){
  #banner{
    height: 17.5vw;
  }
  #banner h1{
    top: 5vw;
    opacity: 0.5;
    font-weight: bold;
    background-color: white;
  }

  #banner h4, #banner h5{
    left: 25vw;
    font-size:0.75em;
  }

  #banner h4{
    top:13vw;
  }

  #banner h5{
    top:15vw;
  }

}

#profilePictureBiodata{
  width:20%;
  height: auto;
  position: relative;
  left: 35vw;
  top: 8vw;
}


#firstSection{
  /* display: none; */
  height:31.5vw;
  background-color: rgba(197, 163, 255);
}

#firstSection h1{
  text-transform: uppercase;
}

#firstSection table, #firstSection th, #firstSection td {
  padding: 0.5vw;
  border-collapse: collapse;
}

#firstSection tr:hover{
  background-color: rgb(204, 255, 255);
}

#firstSection article{
  background-color: rgb(0,191,255);
  position: absolute;
  right: 13vw;
  top:10vw;
  line-height: 3vw;
  text-align: center;
  height: 31.5vw;
}

@media(max-width: 75em){
  #firstSection{
    height: 41vw;
  }

  #firstSection article{
    height: 41vw;
  }
}

@media (max-width: 70em){
  #firstSection{
    padding: 20vw 0;
    text-align: center;
    height: 120vw;
  }

  table{
    padding:0;
    margin: 0;
  }

  #profilePictureBiodata{
    width : 40%;
    left: 0;
    top: 0;
  }

  #firstSection article{
    text-align: left;
    background-color: transparent;
    position: static;
    margin: 0;
    padding: 0;
    font-size: 3vw;
    padding-left: 20vw;
  }

  #firstSection table{
    border-collapse: collapse;
  }

  #firstSection td, #firstSection th{
    border: 1px solid rgb(204, 221, 255);
    padding: 2vw;
  }
  #firstSection tr:nth-child(even){
    background-color: rgb(204, 221, 255);
  }

  #firstSection tr:nth-child(even):hover{
    background-color: rgb(204, 255, 255);
  }

  #firstSection article h1{
    margin-top:15vw;
    padding-left: 18vw;
  }

}

#secondSection{
  height:28.5vw;
  background-color: rgba(175, 248, 219);
  text-align: center;
  padding-top: 3vw;
  display: none;
}

#secondSection > h1{
  text-transform: uppercase;
  /* margin: 10vw 0; */
}

#secondSection .flex-container{
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#secondSection .flex-container img{
  width: 200px;
  height:auto;
  margin: 10px;
  line-height: 75px;
  position: relative;
  z-index:1;
}


#secondSection .flex-container .dropdown-context{
  padding: 2% 0;
  font-size: 2vw;
  background-color: rgb(204, 221, 255);
}

.dropdown-context{
  margin-top: 2vw;
  display:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-context{
  display:block;
  position: relative;
  z-index:1;
}

@media(max-width: 70em){

  #secondSection > h1{
    font-size: 3vw;
  }

  #secondSection{
    height: 150vw;
  }
}

@media (max-width: 40em){
  #secondSection{
    padding-top: 10vw;
    height: 390vw;
  }

  #secondSection .flex-container img{
    width: 150px;
  }

}

.col-4 {width: 33.33%;}
.col-8 {
  width: 66.66%;
  height: 23vw;
  background-color: rgba(231, 255, 172);
}

[class*="col-"]{
  float: left;
  padding: 15px;
  box-sizing: border-box;
}


#thirdSection{
  background-color: rgba(255, 255, 209);
  height:31vw;
  padding-top: 0.5vw;
  display: none;
}

#thirdSection > h1{
  text-transform: uppercase;
  font-size: 2vw;
  text-align: center;
}

#thirdSection ul{
  list-style-type: none;
  line-height: 3em;
  position: relative;
  padding-top:2vw;
  z-index:1;
}

#thirdSection li{
  background-color: antiquewhite;
  text-align:center;
}

#tkInfo{
  display: block;
}

.sekolahInfo{
  text-align: center;
  display: none;
}


#thirdSection .active{
  background-color:rgba(231, 255, 172);
}


@media (max-width: 75em){
  #thirdSection > h1{
    padding-top: 6vw;
    font-size: 3vw;
  }

  #thirdSection{
    height: 70vw;
  }
  
  .col-8{
    height: 50vw;
  }
}

@media (max-width: 40em){

  #thirdSection > h1{
    font-size : 4vw;
  }

  #thirdSection{
    height: 230vw;
  }

  [class*="col-"]{
    padding:0;
    margin:0;
  }
  #thirdSection ul{
    padding:0;
    margin-bottom: 7vw;
  }
  .col-4{
    width: 100%;
  }
  .col-8{
    width: 100%;
    height: 120vw;
  }
}

